.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size:20px;
  font-family:'arial';
  margin-top:10px;
  font-weight: normal;
  color: orange;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.game-info {
  margin-left: 20px;
}

