.move {
  border: 1px solid orange;
  border-radius: 5px;
  font-size: 15px;
  font-family: "arial";
  background-color:white;
}

.move:focus {
  outline: none;
  background: rgb(86, 184, 197);
  font-weight: bold;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.playagain {
  background: rgb(86, 184, 197);
  border: 3px solid orange;
  border-radius: 5px;
  font-size: 20px;
  height: 50px;
  width: 150px;
  font-family: "arial";
}
